.categoriesPage {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0 auto;
  min-height: 700px;
  padding: 10px;
  gap: 10px;
  width: 90vw;
  background-color: rgba(97, 218, 251, 0.57);
}

.categoriesPage__filter {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
}
.categoriesPage__list {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
}

.categoriesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.categoriesList__item {
  background-color: rgba(255, 245, 242, 0.44);
  min-height: 250px;
}

.categoriesList_imgBox {
  width: 100%;
  height: 80%;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.filter__item {
  background-color: rgba(165, 42, 42, 0.5);
  padding: 10px;
}

.genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active{
  background-color: rgba(105, 105, 105, 0.85);
}

.filter__item-main{
  display: flex;
  flex-direction: column;
}

