.root {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 100px;
  width: 1280px;
  margin: 0 auto;
}

.filterBox {
  width: 100%;
  height: min-content;
}

.main {
  display: grid;
  justify-content: center;
  gap:15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}