@import "src/assest/constants";

.button {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: min-content;
  //z-index: 100;
}


.submitBtn {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background-color: $CONTRAST_COLOR;
  border-radius: 5px;
  width: 90%;
  height: 30px;
  color: white;
  font-size: 17px;
  opacity: 0.7;
  padding: 10px;
}

.box {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
