.movieTvItem {
  display: flex;
  flex-direction: column;
  gap:20px;
  background-color: rgba(13, 56, 238, 0.38);
}

.movieTvItem__pre{
  width: 100%;
  height: 100px;
  background-color: rgba(165, 42, 42, 0.43);
}

.movieTvItem__main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  min-height: 600px;
  background-color: rgba(240, 248, 255, 0.53);
}

.movieTvItem__preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 191, 255, 0.39);
  height: 100%;
}

.movieTvItem__trailer{
  background-color: rgba(165, 42, 42, 0.6);
  width: 100%;
  height: 50%;

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.movieTvItem__trailer-btns{
  display: flex;
  gap:20px;
  align-items: start;
  background-color: rgba(165, 42, 42, 0.67);
  height: 20%;
  width: 100%;
}

.previewItem__decs-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 139, 0.33);
  padding: 20px;

  & h1 {
    background-color: rgba(0, 0, 0, 0.15);
    height: min-content;
  }

  & p {
    background-color: rgba(165, 42, 42, 0.42);
    min-height: 200px;
  }

}

.previewItem__decs-info {
  background-color: rgba(165, 42, 42, 0.54);
  min-height: 80px;
}

.movieTvItem__actors {
  display: flex;
  gap:20px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding: 10px;
  background-color: rgba(184, 134, 11, 0.59);
  width: 100%;
  height: 250px;
}

.movieTvItem__actors-item {
  background-color: rgba(255, 255, 255, 0.48);
  min-width: 150px;
  height: 200px;
}

.movieTvItem__similar {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap:20px;
  padding: 10px;
  background-color: rgba(184, 134, 11, 0.59);
  width: 100%;
  min-height: 250px;
}

.movieTvItem__similar-item {
  min-height: 200px;
  min-width: 150px;

  background-color: rgba(210, 105, 30, 0.55);
}

.movieTvItem__collections {
  background-color: rgba(184, 134, 11, 0.59);
  width: 100%;
  height: 250px;
}

.movieTvItem__recommendations{
  background-color: rgba(184, 134, 11, 0.59);
  width: 100%;
  height: 250px;
}