@import "src/assest/constants";

.searchPage {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0 auto;
  gap: 80px;
  padding: 15px;
  width: $WIDTH_1280;
}

.box {
  height: 400px;
  background-color: white;
  color: #232323;
  padding: 15px 0;
  border-radius: 10px;

  & h1 {
    font-size: 25px;
    font-weight: 700;
    padding: 0 15px 10px;
    box-shadow: inset 0 -3px 2px -2px red;
  }
}

.searchPage__menu {

}

.list {
  display: grid;
}

.listItem {
  & a {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    transition: background-color ease-out 100ms;
    background-color: white;
    &:hover {
      background-color: #d5d5d5;
    }
  }
}

.listItem__active {
  & a {
    background-color: #d5d5d5;
  }
}

.searchPage__list {
  display: grid;
  gap: 10px;
}