.searchPage {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0 auto;
  gap: 20px;
  padding: 15px;
  width: 90vw;
  min-height: 500px;
  background-color: rgba(97, 218, 251, 0.55);
}

.searchPage__menu {
  background-color: rgba(0, 0, 0, 0.39);

  & ul li {
    margin: 5px;
    border: 2px solid black;
  }
}

.searchPage__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.45);
}