$HEIGHT:40px;

.switch {
  width: min-content;
  height: $HEIGHT;
  background-color: white;
  border: 2px solid black;
  border-radius: $HEIGHT/2;
}

.switch__list {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 100%;
  white-space: nowrap;

  & span{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:deepskyblue;
    border-radius: $HEIGHT/2;
    padding: 0 15px;


    &.active{
    background-color: chartreuse;
    }
  }
}