@import "src/scss/variables";
@import "src/assest/constants";

$CATEGORIES_HEIGHT: 50px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $HEADER_HEIGHT;
  padding: 0 50px;
  top:0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
}

.header__left {
  height: 100%;
  display: flex;
  align-items: center;
}

.userLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  color: #232323;
}

.header__right {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__search {

}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 100%;
}

.header__categories {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__categoriesItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  position: relative;

  span {
    cursor: pointer;
  }


  &[data-item="movie"]:hover .header__list,
  &[data-item="tv"]:hover .header__list,
  &[data-item="people"]:hover .header__list {
    display: flex;
  }
}

.header__list {
  z-index: 100;
  cursor: pointer;
  flex-direction: column;
  gap: 6px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  height: min-content;
  width: 200px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px 0;
}

.list__items {
  padding: 0 4px;
  transition: box-shadow ease-out 50ms;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 3px 1px $CONTRAST_COLOR;
  }
}

.header__profile {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: $CONTRAST_COLOR;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px;
}

.linkProfile {
  //background-color: #9c0202;
}

.profile {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #2b2b2b;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;

}

.profileMenu {
  position: absolute;
  right: -10px;
  top: calc(100% + 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
}

.profileMenu__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &:not(:last-child) {
    border-bottom: 1px solid $CONTRAST_COLOR;
    padding-bottom: 6px;
  }
}

.logout {
  font-size: inherit;
  background-color: white;
  padding: 0 10px;
  margin: 0;
  transition: box-shadow ease-out 50ms;
  text-align: start;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 3px 1px $CONTRAST_COLOR;
  }
}

.profileName {
  font-size: 20px;
}

.profileLinks {
  padding: 0 10px;
  transition: box-shadow ease-out 50ms;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 3px 1px $CONTRAST_COLOR;
  }
}