@import "src/scss/variables";

$CATEGORIES_HEIGHT: 50px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $HEADER_HEIGHT;
  padding: 10px 50px;
  top:0;
  background-color: rgba(0, 0, 0, 0.17);
  color: white;
  font-size: 20px;
}

.header__left {
  height: $CATEGORIES_HEIGHT;
  display: flex;
  align-items: center;
}

.header__right {
  height: $CATEGORIES_HEIGHT;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 20px;
  height: 100%;
}

.header__categories {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.header__categories-item {
  position: relative;
  display: flex;
  flex-direction: column;

  span {
    cursor: pointer;
  }
}

.header__list {
  cursor: pointer;
  display: block;
  position: absolute;
  top: $CATEGORIES_HEIGHT - 10px;
  left: 0;
  height: min-content;
  width: 200px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px 0;
}