@import "src/scss/variables";

$CATEGORIES_HEIGHT: 50px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $HEADER_HEIGHT;
  padding: 0 50px;
  top:0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
}

.header__left {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__right {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__search {

}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 100%;
}

.header__categories {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__categories-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  position: relative;

  span {
    cursor: pointer;
  }

  &[data-item="movie"]:hover .header__list {
    display: block;
  }
  &[data-item="tv"]:hover .header__list {
    display: block;
  }
  &[data-item="people"]:hover .header__list {
    display: block;
  }
}

.header__list {
  z-index: 100;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  height: min-content;
  width: 200px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px 0;
}

.header__profile {
  display: flex;
  background-color: darkgoldenrod;
}