.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search__list {
  color: black;
  position: absolute;
  top: 30px;
  left: 0;
  height: min-content;
  max-height: 200px;
  width: 200px;
  background-color: white;
  overflow-y: scroll;
}