.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search__list {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  gap: 10px;
  color: black;
  position: absolute;
  top: 30px;
  left: -100px;
  height: min-content;
  max-height: 300px;
  min-width: 350px;
  background-color: white;
  overflow-y: scroll;
}

.search_item {
  display: flex;
  gap: 15px;
  width: 100%;
  min-height: 50px;
  max-height: 50px;

  &:first-child{
    margin-top: 10px;
  }
  &:last-child{
    margin-bottom: 10px;
  }
}

.search_imgBox {
  height: 50px;
  width: 50px;
  background-color: black;

  & img {
    width: 100%;
    height: 100%;
  }
}

.search_mainBox {
  background-color: rgba(127, 255, 212, 0.24);
  font-size: 13px;
  & h2 {
    font-size: 15px;
  }


}