.root {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 20px;
  background-color: white;
  height: 220px;
  border-radius: 10px;
  color: #232323;
  cursor: pointer;
}

.notLink {}

.imgBox {
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-width: 100%;
  padding: 10px 20px 10px 0;
}

.titleBox {
  display: flex;
  align-content: center;
  gap: 20px;

  & h2  {
    padding-top: 5px;
  }
}

.overviewBox {
}

.btnsBox {
  display: flex;
  gap: 20px;
}

.button {
  width: min-content;
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid #a4a4a4;
  border-radius: 50%;
}

.vote {
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  color: #232323;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: red 0 0 7px 2px;
}