.mainPage {
  width: 100%;
}

.mainPage__searchBox {
  padding: 10px;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 52);
}

.mainPage__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}