.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: 500px;
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(0, 43, 9, 0.5);
}

.profile__menu{
  padding: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  width: min-content;
  gap: 30px;
  justify-content: space-between;
  white-space: nowrap;
  background-color: rgba(0, 191, 255, 0.62);
  height: 30px;

  a {
    background-color: rgba(184, 134, 11, 0.7);
  }
}