@import "src/assest/constants";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  height: 300px;
}



.headerInfo {
  width: $WIDTH_1280;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.18);
  margin: 0 auto;
}

.bgImage {
  position: absolute;
  width: $WIDTH_1280;
  top:0;

}

.profile__menu{
  width: 100%;
  border-bottom: 3px solid red;
}

.menuBox {

  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding: 0 25px;
  width: $WIDTH_1280;
  margin: 0 auto 30px;
  font-size: 22px;
}

.link {
  display: flex;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color  ease-out 100ms;
  &:hover {
    background-color: #444444;
  }
}

.link__active {
  $COLOR: #9c0202;
  background-color: $COLOR;
  &:hover {
    background-color: $COLOR;
  }
}

.list {
  display: grid;
  width: $WIDTH_1280;
  margin: 30px auto 0;
}