.poster {
  margin: 20px auto;
  min-height: 300px;
  height: 320px;
  overflow-x: hidden;
  width: 1000px;
  border-radius: 10px;
}

.poster__slider {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  user-select: none;

  &--touchEnd{
    transition: transform 0.5s ease-in;
  }
}

.poster__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 100%;
  height: 100%;

}

.poster__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.poster_item-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.poster__box {
  padding: 0 50px;
}

.poster__info{
  color: white;
  margin: 0 auto;
  min-width: 300px;

  & h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  & p{
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 15px;
  }
}

.poster__btn-box {
  display: flex;
  gap: 20px;

  & button {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
    &:hover{
      transform: scale(1.05);
    }
  }
}




.poster__img {
  border-radius: 30px;
  background-color: dimgrey;
  overflow: hidden;
  height: 280px;
  width: 170px;
  img {
    width: 100%;
    height: 100%;
    user-select: none;
  }
}