@import "src/assest/constants";

.root {
  width: 100%;
  overflow: hidden;
}

.box {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  height: min-content;
  padding: 15px 0;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $CONTRAST_COLOR;
    border-radius: 5px;

  }
}