.container {
    width: 1000px;
    margin: 0 auto;
}

.app {
    position: relative;
    display: grid;
    grid-template-rows:1fr auto;
    min-height: 100%;
    height: 100%;
}

.main {
    min-height: 100%;
}

@font-face {
    font-weight: 400;
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    src: local("Roboto"),url("assest/fonts/Roboto400.woff2") format("woff2");
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    src: local("Roboto"), url("assest/fonts/Roboto700.woff2") format("woff2");
}

@font-face {
    font-weight: 500;
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    src: local("Roboto"), url("assest/fonts/Roboto500.woff2") format("woff2");
}



