@import "scss/variables";

html,body {
  height: 100%;
}

body {
  display: grid;
  margin: 0;
  padding-top: $HEADER_HEIGHT;
  background-color: rgb(14, 14, 14);
  //background-image: url("./assest/image/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Roboto, Arial,sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p,h1,h2,li,ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

input{
  padding: 0;
  margin: 0;
}

