$HEIGHT_HEADER: 200px;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 154px;
  max-width: 160px;
  min-height: 220px;
  font-size: 14px;
  transition: transform ease-out 200ms;
  border: 1px solid red;
  border-radius: 10px;

  &--list{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap:20px;
    min-width: 100%;
    min-height: 180px;
    max-height: 200px;
  }
  &:hover {
    transform: scale(0.96);
  }

  &:hover .card__header.card__header--common::before {
    position: absolute;
    z-index: 10;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &:hover .card__btns.card__btns--common {
    display: flex;
    flex-direction: column;
    width: min-content;
    position: absolute;
    gap: 10px;
    top: 10px;left:10px;
    justify-content: space-around;
  }

  &:hover .card__vote.card__vote--common {
    display: flex;
    z-index: 50;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    right: 5px;
  }

  &:hover .card__date.card__date--common {
    display: block;
    position: absolute;
    z-index: 50;
    color: white;
    top: $HEIGHT_HEADER - 30px;
  }

  &:hover .card__country {
    display: block;
    position: absolute;
    z-index: 50;
    color: white;
  }

  &:hover .card__genres.card__genres--common {
    display: block;
    position: absolute;
    top: $HEIGHT_HEADER - 50px;
    color: white;
    z-index: 50;
  }
}

.card__btns {
  z-index: 100;
  position: relative;
  display: none;

  & button {
    position: relative;
    cursor: pointer;
    &:hover::before {
      font-size: 14px;
      content: attr(data-tooltip);
      text-align: center;
      vertical-align: center;
      padding:  4px 6px ;
      border-radius: 3px;
      position: absolute;
      min-width: min-content;
      z-index: 100;
      background-color: rgba(15, 15, 15, 0.69);
      color: white;
      top: -3px;left:130%;
      white-space: nowrap;
    }
    & span {
      display: none;
    }
  }

  &--list {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.15);
    width: 200px;
  }

  &--common button:last-child {
    display: none;
  }
}

.card__header {
  position: relative;
  width: 100%;
  height: $HEIGHT_HEADER;
  background-color: rgb(1, 26, 134);
  & img {
    width: 100%;
    height: 100%;
  }

  &--list{
    height: 200px;
  }

}

.card__main {

  padding: 10px;
  background-color: rgba(184, 134, 11, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &--list{
  }
}

.card__title {
  font-size: 12px;

  &--list {
    margin-left: 40px;
  }
}

.card__overview {
  display: none;

  &--list {
    display: block;
  }
}

.card__vote {
  display: none;

  &--list {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
  }
}

.card__date {
  display: none;

  &--list {
    display: block;
    margin-left: 40px;
  }
}

.card__country {
  display: none;
}

.card__genres {
  display: none;
}

.card__titleBox {

  &--list {
    position: relative;
    background-color: rgba(0, 0, 0, 0.18);
    margin-bottom: 10px;
  }
}
