$IMG_BOX: 220px;
$BORDER_RADIUS: 10px;

.card {
  display: grid;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  min-height: 250px;
  min-width: 160px;
  max-width: 180px;
  background-color: rgba(0, 0, 0, 0.02);
  transition: transform ease-out 200ms,
  background-color ease-out 200ms;
  border-radius: $BORDER_RADIUS;
  &:hover {
    transform: scale(1.05);
    //transition: background-color ease-out 200ms;
    & .hover {
      background-color: rgba(0, 0, 0, 0.77);
    }
  }
}

.card_box {
  width: 100%;
  height: 100%;
}

.card_img {
  height: $IMG_BOX;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #4f4e4e;
  margin-bottom: 5px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.card_title_box {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: $BORDER_RADIUS;
  height: calc(100% - 220px);
  h2 {
    font-size: 13px;
    line-height: 1.5em;
  }
}

.hover {
  top: 0;
  position: absolute;
  height: $IMG_BOX;
  width: 100%;
  transition: background-color ease-out 200ms;
  background-color: inherit;
  padding: 10px;
  border-radius: 10px;
  color: white;

  &:hover {
    //background-color: rgba(0, 0, 0, 0.77);
  }
}

.buttons_box {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:7px;
  margin-bottom: 4px;
}

.button {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.hover_data {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.31);
}

.vote {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: red 0 0 12px 2px;
  margin-bottom: 6px;
}

.genres {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

.date {
  font-size: 12px;
}
