.previewItem {
  padding: 10px;
  width: 100%;
  min-height: 300px;
  height: min-content;
  background-color: rgba(255, 255, 255, 0.78);
}

.previewItem__list {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
  min-height: 250px;
  height: min-content;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 5px;
    box-shadow: 0 0 6px 0 black;
  }
}

.previewItem__item {
  min-height:280px;
  min-width: 130px;
  background-color: rgba(0, 0, 0, 0.55);
}

.previewItem__plug {
  display: flex;
  width: 100%;
  height: 250px;
  gap: 10px;

  & div {
    min-width: 130px;
    height: 200px;
    background-color: dimgrey;
  }
}

.previewItem__img-box {
  background-color: deepskyblue;
  min-width: 130px;
  height: 200px;

  & img {
    width: 100%;
    height: 100%;
  }
}