@import "../../../assest/constants";

.previewItem {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  width: 100%;
  min-height: 300px;
  height: min-content;
  font-weight: 500;
}

.previewItem__switch {
  padding: 0 15px;
  h2 {
    margin-bottom: 10px;
  }
}

.previewItem__list {
  position: relative;
  display: flex;
  gap: 13px;
  width: 100%;
  min-height: 250px;
  height: min-content;
  overflow-x: scroll;
  padding: 15px 15px 20px;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $CONTRAST_COLOR;
    border-radius: 5px;

  }
}

.previewItem__item {
  min-height:280px;
  min-width: 130px;
  background-color: rgba(0, 0, 0, 0.55);
}

.previewItem__plug {
  display: flex;
  width: 100%;
  height: 250px;
  gap: 10px;

  & div {
    min-width: 130px;
    height: 200px;
    background-color: dimgrey;
  }
}

.previewItem__img-box {
  background-color: deepskyblue;
  min-width: 130px;
  height: 200px;

  & img {
    width: 100%;
    height: 100%;
  }
}